body{
  
   color: black;
   justify-content: center;
}


#map{
  margin-left: 12.5%;
    width: 75%;
    height: 600px;
    color: black;

}
.tabs{
    display: flex;
    background-color:white;
    color: white;
    font-size: 50px;
  
    border-radius: 10px;
    border: solid;
    border-color: #45a049;
}

.navTab {
  color: #45a049;
    margin-right: auto;
    margin-left: auto;
}
.navTab:visited{
  color: #45a049;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  
  .container {
    background-image: url('images/welcomeCS.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center center;
    flex-direction: column;
    
  }
  
body, html {
  height: 100%;
  width: 100%;
  margin: 0;}

  #sweep{
    height: 200px;
    width: 450px;
    left: 5px;
  }

  #nameContainer {
    text-align: center;
    font-size: 60px;
  
    justify-content: center;
  }
  #serve{
    font-size: 72px;
    color: rgb(39, 98, 14);
  }

  #next{
    margin-left: 43%;
    text-align: center;
    font-size: 60px;
    width: 350px;
    background-color: white;
    color: green;
    text-decoration: none;
    
  }

  #next:hover{
    font-size: 65px;
  }

  #mapDiv{
    color: white;
    background-color: black;
    padding-bottom: 50px;
    justify-content: center;
  }

  #headS{
    color: green
  }
  #veHead{
    color: green;
  }